* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Niconne', cursive;
	font-size: 20px;
	background-color: #212529;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2em;
}

.navbar-nav > li {
	padding-left: 2em;
	padding-right: 2em;
}

#barMenu {
	justify-content: space-evenly;
}

.line {
	border: #c9717a solid 1px;
}

.title {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.nav-link {
	border-radius: 20px;
}

.nav-link:hover {
	background-color: #ca726a;
}

h1 {
	color: #c9717a;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

p,
h2 {
	color: #c9717a;
}

p {
	font-size: 1.2em;
}

h2 {
	text-decoration: underline;
}

.liencama:hover {
	color: beige;
}
