* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Niconne', cursive;
	font-size: 20px;
	background-color: #212529;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3.5em;
}

.navbar-nav > li {
	padding-left: 2em;
	padding-right: 2em;
}

#barMenu {
	justify-content: space-evenly;
}

.line {
	width: 100%;
	border-bottom: 1px solid #ca464f;
	font-family: 'EB Garamond', serif;
}

.title {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h1 {
	color: #ca464f;
	text-align: center;
}

.linkColor {
	color: #ca464f;
}

.linkColor:hover {
	background-color: #8b8b8b;
}

.card {
	width: 90%;
	margin: auto;
	margin-bottom: 2rem;

	background-color: #050505;
	border: 1px solid white;
}

.card-text,
.card-title {
	color: #ca464f;
	text-align: center;
}

.card-img,
.card {
	border-radius: 20px;
}

.card:hover {
	border: 1px solid #ca464f;
}
